
{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" type="image/png" href="" />
    <title>Shoe Collector</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" />

    {% block head %} 
    {% endblock %}
  </head>
  <body>
   <header class="navbar">
    <div class="container navbar-container">
    <div class="logo">
      <a href="{% url 'home' %}">🏀 Shoe Collector</a>
    </div>
    <nav class="nav-links">
        <ul>
    {% if user.is_authenticated %}
      <a href="{% url 'shoe-index' %}">All Shoes</a>
      <a href="{% url 'closet-index' %}">All Closets</a>
      <a href="{% url 'shoe-create' %}">Add a Shoe</a>
      <a href="{% url 'closet-create' %}">Add a Closet</a>
      <a href="{% url 'about' %}">About</a>
      <form id="logout-form" method="post" action="{% url 'logout' %}">
      {% csrf_token %}
      <button type="submit">Log out</button>
    {% else %}
      <a href="{% url 'about' %}">About</a>
      <a href="{% url 'home' %}">Home</a>
      <a href="{% url 'signup' %}">Sign Up</a>
    {% endif %}
  </ul>
    </nav>
  </div>
  </header>
    <main>
     {% block content %} 
     {% endblock %}
     </main>
  </body>
</html>
